<mat-dialog-title>Gasto</mat-dialog-title>
<form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>Cuenta</label>
    <select formControlName="account" class="form-control" required>
      <option *ngFor="let account of accounts" [ngValue]="account.id">
        {{ account.name }}
        <div class="color"></div>
      </option>
    </select>
  </div>
  <div class="form-group">
    <label>Categoria</label>
    <select
      formControlName="expense"
      class="form-control"
      required
      [(ngModel)]="data.selectedExpense"
    >
      <option *ngFor="let expense of expenses" [ngValue]="expense.id">
        {{ expense.name }}
        <div class="color"></div>
      </option>
    </select>
    {{ data.selectedExpense }}
  </div>
  <div class="form-group">
    <label>Cantidad</label>
    <input
      type="number"
      class="form-control"
      placeholder="Gasto realizado"
      formControlName="amount"
      [ngClass]="{ 'is-invalid': submitted && f.amount.errors }"
      autocomplete="off"
      focus
    />
  </div>

  <div class="form-group">
    <div class="form-group">
      <button [disabled]="loading" class="btn-gradient-primary">
        <span
          *ngIf="loading"
          class="spinner-border spinner-border-sm mr-1"
        ></span>
        Agregar
      </button>
    </div>
  </div>
</form>
