<mat-dialog-title>Agregar cuenta</mat-dialog-title>
<form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>Nombre de la cuenta</label>
    <input
      type="text"
      class="form-control"
      formControlName="name"
      placeholder="Account name"
      [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
      autocomplete="off"
    />
    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
      <div *ngIf="f.name.errors.required">Nombre de la cuenta es requerido</div>
    </div>
  </div>
  <div class="form-group">
    <label>Balacne</label>
    <input
      type="number"
      class="form-control"
      placeholder="account balance"
      formControlName="balance"
      [ngClass]="{ 'is-invalid': submitted && f.balance.errors }"
      autocomplete="off"
    />
    <div *ngIf="submitted && f.balance.errors" class="invalid-feedback">
      <div *ngIf="f.balance.errors.required">balance es requerido</div>
    </div>
  </div>
  <div class="form-group">
    <label>Color</label>

    <select formControlName="color" class="form-control" required>
      <option *ngFor="let color of colors" [ngValue]="color.value">
        {{ color.name }}
        <div class="color" [ngStyle]="{ background: color.value }"></div>
      </option>
    </select>
  </div>

  <div class="form-group">
    <div class="form-group">
      <button [disabled]="loading" class="btn-gradient-primary">
        <span
          *ngIf="loading"
          class="spinner-border spinner-border-sm mr-1"
        ></span>
        Agregar
      </button>
    </div>
  </div>
</form>
