<nav class="navbar">
  <h1 class="title">
    <a routerLink="/"><img class="logo" src="../../assets/img//Logo.svg"/></a>
  </h1>
  <ul class="">
    <li><a routerLink="/dashboard">Dashboard</a></li>
    <li><a routerLink="/contact">Contact</a></li>
    <li><a routerLink="/about">About</a></li>
    <li *ngIf="currentUser && !loading">Welcome {{ user.username }}</li>
    <li>
      <button
        *ngIf="!currentUser"
        class="btn-gradient-primary my-2 my-sm-0 mr-2"
        routerLink="/login"
      >
        Login
      </button>
      <a *ngIf="currentUser" class="" (click)="logout()">
        Logout
      </a>
    </li>
  </ul>
</nav>
