<nav class="navbar">
  <h1 class="title">
    <a routerLink="/"><img class="logo" src="../../assets/img//Logo.svg"/></a>
  </h1>
  <ul class="nav-links" [ngClass]="navStatus ? 'nav-active' : ''">
    <li><a routerLink="/dashboard" (click)="activateNav()">Dashboard</a></li>
    <li><a routerLink="/contact" (click)="activateNav()">Contact</a></li>
    <li><a routerLink="/about" (click)="activateNav()">About</a></li>
    <li *ngIf="currentUser && !loading">Welcome {{ user.username }}</li>
    <li class="nav-link">
      <button
        *ngIf="!currentUser"
        class="btn-gradient-primary my-2 my-sm-0 mr-2"
        routerLink="/login"
        (click)="activateNav()"
      >
        Login
      </button>
      <a *ngIf="currentUser" class="" (click)="logout()">
        Logout
      </a>
    </li>
  </ul>
  <div class="burger" (click)="activateNav()">
    <div></div>
    <div></div>
    <div></div>
  </div>
</nav>
