.expenses {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 20px;
  grid-gap: 20px;
}

.expense {
  display: grid;
  grid-template-columns: 3fr 1fr;
  list-style: none;
  border-radius: 5px;
  padding: 10px;
  height: 60px;
  color: #333;
}

.food {
  background: rgb(251, 107, 50);
}

.shopping {
  background: rgb(113, 208, 247);
}
.housing {
  background: rgb(249, 186, 80);
}
.services {
  background: rgb(180, 56, 255);
}
.transportation {
  background: rgb(159, 177, 231);
}
.entertainment {
  background: rgb(46, 210, 183);
}
