/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700');

.logo {
  height: auto;
  width: 150px;
}
* {
  font-family: 'Montserrat';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0%;
  width: 100%;
  overflow: auto;
  min-height: 100vh;
  background-attachment: fixed;

  background-repeat: no-repeat;
  background: linear-gradient(
    45deg,
    rgb(22, 244, 197) 0%,
    rgb(22, 244, 197) 12%,
    rgb(24, 219, 187) 12%,
    rgb(24, 219, 187) 51%,
    rgb(26, 193, 176) 51%,
    rgb(26, 193, 176) 52%,
    rgb(28, 168, 166) 52%,
    rgb(28, 168, 166) 66%,
    rgb(29, 143, 155) 66%,
    rgb(29, 143, 155) 73%,
    rgb(31, 117, 145) 73%,
    rgb(31, 117, 145) 80%,
    rgb(33, 92, 134) 80%,
    rgb(33, 92, 134) 100%
  );
}

.btn-gradient-primary {
  background: linear-gradient(
    45deg,
    rgb(26, 193, 176) 10%,
    rgb(28, 168, 166) 51%,
    rgb(33, 92, 134)
  );
  background-size: 250%;
  background-position: right;
  border: none;
  width: 8em;
  border-radius: 40px;
  color: white;
  transition: all 1.5s;
  font-size: 1em;
  font-weight: bold;
  height: 2rem;
  align-content: center;
  justify-content: center;
}

.btn-gradient-primary:hover {
  background-position: left;
}

.btn-gradient-primary:focus {
  background-position: left;
}
h3 {
  color: transparent;
  background: linear-gradient(
    45deg,
    rgb(26, 193, 176) 10%,
    rgb(28, 168, 166) 51%,
    rgb(33, 92, 134)
  );
  background-clip: text;
  background-size: 250%;
  margin-bottom: 1.7rem;
  font-size: 1.7em;
}

h1 {
  background-clip: text;
  -webkit-background-clip: text;
  color: white;
  text-decoration: none;
}

.btn-outline-gradient {
  /* background: linear-gradient(-47deg, #333 43%, #3beedb 44%);*/
  background: rgb(0, 255, 106);
  color: black;
  border: none;
  width: 8em;
  border-radius: 30px;

  transition: all 0.1s;

  font-weight: bold;
  height: 2rem;
  align-content: center;
  justify-content: center;
}

.btn-outline-gradient:hover {
  transform: scale(1.05);
}

.btn-background {
  /*background: linear-gradient(-47deg, #3beedb 42%, #333 43%);
  color: transparent;
  background-clip: text;*/
  color: #333;
}

.btn-big {
  width: 11em;
  border-radius: 40px;
  font-size: 1.3rem;
  font-weight: bold;
  height: 3rem;
}

.btn-small {
  border-radius: 5px;
  height: 30px;
  width: 30px;
  border: none;
  margin-left: 10px;
  font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-size: 18px;
}

.dark {
  background: #333;
  color: white;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  height: 100%;
}

.floating {
  padding-top: 70px;
  padding-bottom: 150px;
}
.colored-container {
  color: white;
  /*background: linear-gradient(180deg, rgb(137, 227, 255), rgb(215, 252, 246));*/
  background: #eeeeff;
  justify-content: center;
  text-align: center;
}

.error404 {
  font-size: 15em;
  margin-top: -15px;
}

.centered-container {
  justify-content: center !important;
  padding: 2rem;

  background: #333;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-rows: 20vh 20vh 20vh;
}
input,
select {
  width: 100%;
  padding: 5px 10px;
  outline: none;
  background: #eee;
  padding: 3px 5px 3px 8px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #dddddd;
  border-radius: 20px;
}

input:focus {
  box-shadow: 0 0 5px rgba(22, 244, 197, 1);

  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(22, 244, 197, 1);
}

form {
  display: block;
  margin-top: 0em;
}

.form-group {
  margin-bottom: 1rem;
}
label {
  width: 100%;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.login {
  margin: 0;
  padding: 1rem;
  padding-top: 0;

  width: 100%;
}

.bd-r {
  border-right: 1px solid rgb(206, 214, 213);
}

.register {
  margin: 0;
  padding: 2rem;
  padding-top: 0;
}

.login div {
  width: 100%;
}
.algo {
  width: 100%;
}

.register ul {
  margin-top: 1em;
  margin-left: 2em;
}

@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .container {
    width: 100%;
  }

  .login {
    width: 100%;
  }
  .register {
    width: 100%;
    padding: 0;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    width: 100%;
  }

  .register ul {
    margin-top: 1em;
    margin-left: 2em;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    width: 70%;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 70%;
  }
}
