<div class="landing">
  <div class="call">
    <p class="heading">Ahorrar puede ser facil</p>
    <p class="heading2">
      Existe una mejor manera de manejar tus gastos
    </p>
    <p class="heading3">
      automatiza tus finanzas, organiza tu vida y ahorra con $ave
    </p>

    <button class="btn-outline-gradient btn-big">
      <div class="btn-background" routerLink="/login">Comienza Ahora</div>
    </button>
  </div>
</div>
<div class="section2">
  <h2 style="font-size: 2em">Contenido de prueba</h2>
  <div class="features">
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates
      pariatur architecto est? Commodi sit veritatis ut facere earum? Natus
      reprehenderit delectus cumque nihil architecto accusantium sapiente
      ducimus maxime impedit expedita.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates
      pariatur architecto est? Commodi sit veritatis ut facere earum? Natus
      reprehenderit delectus cumque nihil architecto accusantium sapiente
      ducimus maxime impedit expedita.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates
      pariatur architecto est? Commodi sit veritatis ut facere earum? Natus
      reprehenderit delectus cumque nihil architecto accusantium sapiente
      ducimus maxime impedit expedita.
    </p>
  </div>
</div>
