<div class="container">
  <h1>{{ title }}</h1>
  <form class="col-md-6" (submit)="addAccount(name, balance)">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Account name</span>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="Name"
        aria-label="Name"
        aria-describedby="basic-addon1"
        #name
      />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Balance $</span>
      </div>
      <input
        type="text"
        class="form-control"
        aria-label="Amount (to the nearest dollar)"
        #balance
      />
      <div class="input-group-append">
        <span class="input-group-text">.00</span>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <h4>User Accounts</h4>
  <ul>
    <li *ngFor="let account of accounts" class="col-md-5">
      <h5>{{ account.name }}</h5>

      <p>
        {{ account.balance | currency }}
      </p>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Edit Name</span>
        </div>
        <input
          type="text"
          class="form-control"
          placeholder="Name"
          aria-label="Name"
          aria-describedby="basic-addon1"
          [value]="account.name"
          (input)="account.name = $event.target.value"
        />
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Edit balance</span>
        </div>
        <input
          type="text"
          class="form-control"
          placeholder="Name"
          aria-label="Name"
          aria-describedby="basic-addon1"
          [value]="account.balance"
          (input)="account.balance = $event.target.value"
        />
      </div>
      <button class="btn btn-danger" (click)="deleteAccount(account)">
        Delete
      </button>
    </li>
  </ul>
</div>
