<div class="container floating">
  <div class="centered-container">
    <div class="register bd-r">
      <div class="algo">
        <h3>Registrate</h3>
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Usuario</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Nombre de usuario"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Enter email"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Contraseña</label>
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Contraseña"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Confirmar Contraseña</label>
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Password"
            />
          </div>

          <div class="form-group">
            <button class="btn-gradient-primary" routerLink="/register">
              Register
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="login">
      <h3>Plese sign in</h3>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter email"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Constraseña</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Contraseñsa"
          />
        </div>
        <div class="form-group">
          <p><a>Olvidaste tu contraseña?</a></p>
        </div>

        <div class="form-group">
          <button type="submit" class="btn-gradient-primary">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
